<section
  id="home"
  class="fixed-image-bg"
  [style.background]="'url(' + headerImg + ')'"
>
  <hr />
  <h1>{{ title }}</h1>
  <hr />
  <!-- <h2>{{subtitle}}</h2> -->

  <div class="download-link">
    <a href="{{ oneDriveLink }}">
      <p>Programm 21/22</p>
    </a>
  </div>

  <a href="#news" (click)="routerNews()">
    <img src="../../../../assets/img/arrow.png" alt="" />
  </a>
</section>

<section id="news" class="fixed-image-bg">
  <div class="news-cards" *ngFor="let card of newsCards">
    <shared-lib-card [card]="card"> </shared-lib-card>

    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>

    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
    <div class="card">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
</section>

<section
  id="image-one"
  class="fixed-image-bg"
  [style.background]="'url(' + contentImgOne + ')'"
></section>

<section id="skischule" class="fixed-image-bg">
  <h3>Skischule</h3>
  <hr />
  <h4>Verein</h4>
  <p>
    Der Skiclub Kapfenburg e.V. hat sich der Föderung des Wintersports
    verschrieben. Hierzu haben wir für Sie verschiedene Aktivitäten im Angebot.
  </p>
  <br />
  <p>
    Neben unseren zahlreichen sportlichen Angeboten gehört auch unsere
    alljährliche Skibörse zu unserem Pflichtprogramm.
  </p>
  <br />
  <h4>Skikurse</h4>
  <p>
    Die Ski – bzw. Snowboardkurse für Erwachsene und Kinder werden in allen
    Könnerstufen im heimischen Gelände beim Skilift Kapfenburg durchgeführt.
    Teilnehmer werden bei entspechender Schneelage von den Skilehrern
    informiert.
  </p>
  <br />
  <p>
    Preise finden Sie für die aktuelle Saison wie immer in unserer
    Programmübersicht.
  </p>
  <br />
  <p>Anmeldungen zu unseren Kursen bitte unter:</p>
  <p></p>

  <h4>
    <a href="mailto:skikurse@skiclub-kapfenburg.de" target="_blank"
      >skikurse@skiclub-kapfenburg.de</a
    >
  </h4>
</section>

<section
  id="image-one"
  class="fixed-image-bg"
  [style.background]="'url(' + contentImgOne + ')'"
></section>

<section id="ausfahrten">
  <h3>Ausfahrten</h3>
  <hr />

  <p>
    Unserem
    <a class="download" href="{{ oneDriveLink }}">Programm 21/22</a> sind alle
    für die Saison geplanten Ausfahrtn und aktuelle Preise zu entnehmen.
  </p>

  <h4>Zustiegs- und Abfahrtszeiten</h4>
  <br />
  <p>Westhausen Turnhalle: 5:40 Uhr</p>
  <br />
  <p>Lauchheim Schule: 5:50 Uhr</p>
  <br />
  <p>Waldhausen Schlosserei Hermann: 6:00 Uhr</p>
  <br />
  <p>Tennishalle: 6:10 Uhr</p>
  <br />
  <br />
  <p>Rückkehr jeweils gegen 19 Uhr, wenn nicht anders angegeben</p>
</section>

<section
  id="image-two"
  class="fixed-image-bg"
  [style.background]="'url(' + contentImgTwo + ')'"
></section>

<section id="gymnastik">
  <h3>Gymnastik</h3>
  <hr />

  <h4>Fitness-Cocktail</h4>

  <p>
    19:00 – 20:00 Uhr Schulturnhalle Lauchheim (ganzjährig, ausser in den
    Ferien)
  </p>
  <br />
  <p>Fitness / Gymnastik</p>
  <br />
  <p>Leitung: Katharina Sachs und Anna Klein, <i>Tel: 07363/3492</i></p>

  <h4>Vitalgymnastik 50 Plus</h4>

  <p>Montags 19.00 – 20.00 Uhr Altes Schulhaus Hülen (gemischte Gruppe)</p>
  <br />
  <p>
    Funktionelle Gymnastik zur Stabilisierung des Rückens, vielseitige
    körperliche Bewegungsübungen sowie Entspannung stärken die
    Leistungsfähigkeit.
  </p>
  <br />
  <p>Leitung: Monika Mayer, <i>Tel: 07363/4432</i></p>

  <h4>Fitnessmix</h4>

  <p>Montags 20.00 – 21.00 Uhr Altes Schulhaus Hülen</p>
  <br />
  <p>
    Ein Mix aus Kräftigung und Ausdauer mit und ohne Handgeräte; Tiefenmuskel-
    und Koordinationstraining sowie Haltungsstabilisation
  </p>
  <br />
  <p>Leitung: Monika Mayer, <i>Tel: 07363/4432</i></p>
</section>
