.content {
  padding-bottom: 72px;

  .labels {

    &__top {
      font-size: 22px;
    }

    &__sub {
      font-size: 18px;
      font-weight: 500;
    }

    &__values {
      font-size: 16px;
      font-weight: normal;
    }

  }
  
}

.tab-content {
  h3 {
    font-size: 16pt;
  }

  font-size: 12pt;

  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;

  .price-overview {
    padding: 32px;
    background-color: rgb(236, 236, 236);

    hr {
      width: 100%;
    }
  }

  .price-table {
    padding: 16px 16px 16px 16px;

    &__type {
      padding-top: 32px;
    }

    &__group {
      padding-top: 16px;
    }

    &__values {
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }

}