<mat-toolbar> Gymnastik </mat-toolbar>
<div class="content">

  <div class="info-page">
    <h3>Fitness-Cocktail</h3>
    <h2>Montags, 19:00 – 20:00 Uhr - Schulturnhalle Lauchheim</h2>
    <p>Fitness / Gymnastik für Jedermann - findet ganzjährig statt, ausser in den Ferien <br><i>Katharina Sachs und Anna
        Klein, Tel: 07363/3492</i>
    </p>
  </div>

  <div class="info-page">
    <h3>Vitalgymnastik 50 Plus</h3>
    <h2>Montags, 19.00 – 20.00 Uhr - Altes Schulhaus Hülen</h2>
    <p>(gemischte Gruppe) Funktionelle Gymnastik zur Stabilisierung des Rückens, vielseitige körperliche
      Bewegungsübungen
      sowie
      Entspannung stärken die Leistungsfähigkeit.
    </p>

    <p><i>Monika Mayer, Tel:
        07363/4432</i></p>

  </div>


  <div class="info-page">
    <h3>Fitnessmix</h3>
    <h2>Montags, 20.00 – 21.00 Uhr - Altes Schulhaus Hülen</h2>
    <p> Ein Mix aus Kräftigung und Ausdauer mit und ohne Handgeräte; Tiefenmuskel- und
      Koordinationstraining sowie Haltungsstabilisation </p>
    <p><i>Monika Mayer, Tel:
        07363/4432</i></p>
  </div>
</div>