@use '@angular/material' as mat;

:host {
    display: block;
    width: 100%;
}

.expired {
    opacity: 0.5;
}

.card {
    max-width: 420px;
    margin: 0 auto; // Center the card in the preview area
    @include mat.elevation(6);
}

.card-header-image {
    background-size: cover;
}

.card-date {
    color: #3f51b5;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.mat-mdc-card-content {
    padding: 24px;
}

.canceled-stamp {
    transform: rotate(10deg);
    color: rgba(236, 12, 12, 0.884);
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.95rem 2rem;
    text-transform: uppercase;
    border-radius: 2rem;
    font-family: 'Courier';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
}

.booked-up-stamp {
    transform: rotate(-6deg);
    color: rgba(175, 177, 45, 0.884);
    font-size: 3rem;
    font-weight: 700;
    border: 0.25rem solid #555;
    display: inline-block;
    padding: 0.95rem 2rem;
    text-transform: uppercase;
    border-radius: 2rem;
    font-family: 'Courier';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-6deg);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
}

.secondary-action-buttons {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 8px;
}
