@use "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

:host {
  flex: 1;
  text-align: start;
}

#mobile-content {
  margin: 80px 0 80px 10px;
  overflow-wrap: break-word;

}