<header>

    <div id="logo">

        <a href="#">
            <img width="130" alt="Logo" src="../../../../../assets/img/burg.png" />

        </a>

    </div>

    <nav id="main-nav">
        <ul>
            <li><a href="#" (click)="routerHome()">Skiclub Kapfenburg e.V.</a></li>
            <li><a href="#skischule" (click)="routerSki()">Skischule</a></li>
            <li><a href="#ausfahrten" (click)="routerFahrt()">Ausfahrten</a></li>
            <li><a href="#gymnastik" (click)="routerGym()">Gymnastik</a></li>
        </ul>
    </nav>

</header>
