/** Page color definitons **/

$textColor: #494949;
$subtextColor: #5d7177;

$headerBgColor: #fff;

$footerBgColor: #3f3f3f;

$primarySectionBgColor: #f0f0f0;
$footerTextColor: #f0f0f0;

$donwloadLinkColorNews: #8080ff;

$donwloadLinkColor: #1a0000;
$donwloadLinkColorBackground: #ffffff;
$donwloadLinkColorBackgroundAlt: #67a4fa;
// $secondarySectionBgColor: #f0f0f0;
