<div id="news-modal" *ngIf="isNewsVisible">

    <div id="news-close">
    
        <div (click)="closeNews()">
            <b>X</b>
        </div>
        <!-- <button (click)="closeNews()">Schließen</button> -->
    </div>

    <div id="news-logo">

        <img width="130" alt="Logo" src="assets/img/logo.jpg" />

    </div>

    <div id="news-text">

        <h1>Neuigkeiten</h1>
        <br>
        <h2>Leider können wir in diesem Jahr aufgrund der anhaltenden Situation rund um die Pandemie keine Skibörse anbieten. Ob wir in dieser Saison die geplanten Ausfahrten durchführen können ist bisher noch unklar. Unser geplantes Programm finden ihr hier als Download:</h2>
        <h2> <a class="download" href="https://1drv.ms/b/s!AlpybhuWN2nhgcxEEIyRpKNfVt-LNQ?e=CRt9HS">Programm 20/21</a></h2>
        <br>
        <p>Sobald wir nähere Informationen haben werden wir euch auf unserer Website und auf unseren Social-Media
            Kanälen darüber informieren.</p>
        <p>Bei Fragen wendet Euch an uns.</p>
        <p>Wir sind außerdem über die folgenden verlinkten Kanäle erreichbar:</p>
        <br>
        <ul>
            <li>
                <a href="https://www.facebook.com/SkiclubKapfenburg/">Facebook</a>
            </li>
            <li>
                <a
                    href="https://www.instagram.com/skiclub_kapfenburg/?fbclid=IwAR1atVIs-9EePcpOpQrNrwYMJq0JHagNxaoRE_GVnSxnShayMTPo5lHW5KQ">Instagram</a>
            </li>
            <li>
                <a
                    href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D4915751765444%26fbclid%3DIwAR3Lg_pHLnf0by46-JdcnD82iXeqiEBu6sFlgPigX1MJ5qHP9Gr9zerIc1Q&h=AT0p5kQuuohReLgJw3WsP9uSdyHk8Y0suIIjEcfAaYuvqTAG2vfrNYUiENVe9LI3XxvJVLaULiYhMLCj9jMrEAuEgneQif-4c0VLqKuhx4-IUaQZM0HN8WGh6tUltpEkt5akSJDjklXMy_P3rE9B9M0cxoUZa-CkrLw">WhatsApp</a>
            </li>
            <li>
                <a href="https://t.me/skiclub_kapfenburg">Telegram</a>
            </li>
        </ul>
    </div>

</div>



<app-header></app-header>

<section id="home" [style.background]="'url(' + headerImg + ')'" [style.background-position]="'center center'"
    [style.background-size]="'cover'" [style.background-attachment]="'fixed'">

    <hr>
    <h1>{{title}}</h1>
    <hr>
    <!-- <h2>{{subtitle}}</h2> -->

    <a href="#skischule" (click)="routerSki()">
        <img src="assets/img/arrow.png" alt="">
    </a>

</section>

<section id="skischule">

    <h3>Skischule</h3>
    <hr>
    <h4>Verein</h4>
    <p>Der Skiclub Kapfenburg e.V. hat sich der Föderung des Wintersports verschrieben. Hierzu haben wir für Sie
        verschiedene Aktivitäten im Angebot.</p>
    <br>
    <p>Neben unseren zahlreichen sportlichen Angeboten gehört auch unsere alljährliche
        Skibörse zu unserem Pflichtprogramm.</p>
    <br>
    <h4>Skikurse</h4>
    <p>Die Ski – bzw. Snowboardkurse für Erwachsene und Kinder werden in allen Könnerstufen im heimischen Gelände
        beim Skilift Kapfenburg durchgeführt.
        Teilnehmer werden bei entspechender Schneelage von den Skilehrern informiert.</p>
    <br>
    <p>Preise finden Sie für die aktuelle Saison wie immer in unserer Programmübersicht.</p>
    <br>
    <p>Anmeldungen zu unseren Kursen bitte unter:
    <p>

    <h4><a href="mailto:skikurse@skiclub-kapfenburg.de" target="_blank">skikurse@skiclub-kapfenburg.de</a></h4>

</section>

<section id="image-one" [style.background]="'url(' + contentImgOne + ')'" [style.background-position]="'center center'"
    [style.background-size]="'cover'" [style.background-attachment]="'fixed'">

</section>

<section id="ausfahrten">

    <h3>Ausfahrten</h3>
    <hr>

    <p>Unserem Programm sind alle für die jeweilige Saison gültigen Ein- und Mehrtagesausfahrten zu entnehmen.</p>

    <h4>Zustiegs- und Abfahrtszeiten</h4>
    <br>
    <p>Westhausen Turnhalle: 5:40 Uhr</p>
    <br>
    <p>Lauchheim Schule: 5:50 Uhr</p>
    <br>
    <p>Waldhausen Schlosserei Hermann: 6:00 Uhr</p>
    <br>
    <p>Tennishalle: 6:10 Uhr</p>
    <br>
    <br>
    <p>Rückkehr jeweils gegen 19 Uhr, wenn nicht anders angegeben</p>

</section>


<section id="image-two" [style.background]="'url(' + contentImgTwo + ')'" [style.background-position]="'center center'"
    [style.background-size]="'cover'" [style.background-attachment]="'fixed'"></section>


<section id="gymnastik">

    <h3>Gymnastik</h3>
    <hr>

    <h4>Fitness-Cocktail</h4>

    <p> 19:00 – 20:00 Uhr Schulturnhalle Lauchheim (ganzjährig, ausser in den Ferien)</p>
    <br>
    <p>Fitness / Gymnastik</p>
    <br>
    <p>Leitung: Katharina Sachs und Anna Klein, <i>Tel: 07363/3492</i></p>

    <h4>Vitalgymnastik 50 Plus</h4>

    <p>Montags 19.00 – 20.00 Uhr Altes Schulhaus Hülen (gemischte Gruppe)</p>
    <br>
    <p>Funktionelle Gymnastik zur Stabilisierung des Rückens,
        vielseitige körperliche Bewegungsübungen sowie Entspannung
        stärken die Leistungsfähigkeit.</p>
    <br>
    <p>Leitung: Monika Mayer, <i>Tel: 07363/4432</i></p>

    <h4>Fitnessmix</h4>

    <p>Montags 20.00 – 21.00 Uhr Altes Schulhaus Hülen</p>
    <br>
    <p>Ein Mix aus Kräftigung und Ausdauer mit und ohne Handgeräte;
        Tiefenmuskel- und Koordinationstraining sowie Haltungsstabilisation</p>
    <br>
    <p>Leitung: Monika Mayer, <i>Tel: 07363/4432</i></p>

</section>

<app-footer></app-footer>