<mat-toolbar>Ausfahrten</mat-toolbar>

<mat-tab-group>

  <mat-tab label="Anmeldung">

    <lib-trip-registration-form (onSubmit)="onTripRegistrationFormSubmit($event)" [additionalData]="trips">
    </lib-trip-registration-form>

  </mat-tab>

  <mat-tab label="Informationen">

    <div class="info-page">
      <h3>Zustiegs- und Abfahrtszeiten</h3>

      <p>
      <ul>
        <li>Westhausen Turnhalle: 5:40 Uhr</li>
        <li>Lauchheim Schule: 5:50 Uhr </li>
        <li>Waldhausen Schlosserei Hermann: 6:00 Uhr</li>
        <li>Ebnater Tennishalle: 6:10 Uhr</li>
      </ul>

      <p>Rückkehr jeweils gegen 19 Uhr, wenn nicht anders angegeben</p>
    </div>
  </mat-tab>

  <mat-tab label="Downloads">

    <div class="info-page">
      <h3>Einverständniserklärung</h3>
      <p>Einverständniserklärung</p>
    </div>

    <div class="info-page">
      <h3>Programm 2022 / 2023</h3>
      <p>Download</p>
    </div>

  </mat-tab>
</mat-tab-group>