<shared-lib-site-header [title]="title"></shared-lib-site-header>

<div class="content-container">
    <div class="cards-grid">
        @for (t of tiles; track $index) {
            @if (t.visible) {
                <mat-card appearance="outlined" class="card" [ngClass]="{ expired: t.expired }">
                    <mat-card-header>
                        @if (t.avatar) {
                            <div mat-card-avatar class="card-header-image">
                                <img mat-card-avatar src="{{ t.avatar }}" />
                            </div>
                        }
                        <mat-card-title class="card-date">{{ t.date }}</mat-card-title>
                        <mat-card-title
                            style="white-space: pre-wrap"
                            [innerHTML]="this.markdown.render(t.title)"
                        ></mat-card-title>
                        <mat-card-subtitle class="mat-card-content">{{ t.subTitle }}</mat-card-subtitle>
                    </mat-card-header>

                    @if (t.status === tileStatusEnum.Canceled) {
                        <span class="canceled-stamp">Abgesagt</span>
                    }
                    @if (t.status === tileStatusEnum.BookedUp) {
                        <span class="booked-up-stamp">Warteliste</span>
                    }
                    <img mat-card-image src="{{ t.image }}" alt="{{ t.imageDescription }}" />

                    <mat-card-content class="mat-card-content">
                        <p [innerHTML]="this.markdown.render(getTileDescription(t))"></p>
                    </mat-card-content>
                    <mat-card-actions class="actions">
                        @for (action of t.actions; track action) {
                            @switch (action) {
                                @case (tileActionsEnum.Download) {
                                    <button
                                        mat-fab
                                        extended
                                        class="card-button"
                                        color="primary"
                                        (click)="openLink(t.downloadActionLink)"
                                        matTooltip="Öffnen"
                                    >
                                        <mat-icon>download</mat-icon>
                                        Öffnen
                                    </button>
                                }
                                @case (tileActionsEnum.Register) {
                                    <button
                                        class="card-button"
                                        mat-fab
                                        extended
                                        color="primary"
                                        (click)="openRegisterDialog(t)"
                                        matTooltip="Anmelden"
                                    >
                                        <mat-icon>event_note</mat-icon>
                                        Anmelden
                                    </button>
                                }
                                @case (tileActionsEnum.Share) {
                                    <div class="secondary-action-buttons">
                                        <!-- <button class="card-button" mat-mini-fab
                                        (click)="openDetailDialog(t)" matTooltip="Informationen">
                                        <mat-icon>info_outline</mat-icon>
                                    </button> -->
                                        <button mat-mini-fab matTooltip="Teilen" class="card-button">
                                            <mat-icon>share</mat-icon>
                                        </button>
                                    </div>
                                }
                            }
                        }
                    </mat-card-actions>
                </mat-card>
            }
        }
    </div>
</div>
