<div id="impressum">

    <h4>Impressum</h4>

    <p>Verantwortlich für die Inhalte der Domain <strong>skiclub-kapfenburg.de </strong>und allen darunter befindlichen
        Subdomains liegen beim Verein.</p>

    <p>Kontakt über:</p>
    <br>
    <li>1. Vorstand: <strong>Hans-Lorenz Sachs</strong></li>
    <li>2. Vorstand: <strong>Markus Rup</strong></li>

    <br>
    <p><strong>Skiclub Kapfenburg e.V. </strong>
        <br>
        Komturweg 11
        <br>
        73466 Lauchheim-Hülen
    </p>
    <br>
    <p> Mitglied des Schwäbischen Skiverbandes und des Württembergischen Landessportbundes – Gläubiger
        Identifikationsnummer
        <em>DE 17ZZZ00001047360 </em>
    </p>
    <p>
        Meldungen im Bezug auf den redaktionellen Teil dieser Website über:
        <strong>webmaster@skiclub-kapfenburg.de</strong>
    </p>
</div>