<mat-toolbar color="primary" id="main" class="shadow">
  <span class="header-title" [routerLink]="'/home'">Skiclub Kapfenburg e.V.</span>

  <span class="spacer"></span>

  <ng-container *ngIf="!(breakpointObserver.handsetBreakpoint$ | async)">
    <div *ngFor="let n of highlightedNavItems" class="highlight-container">
      <a mat-button (click)="routeTo(n.route)">
        {{ n.name }}
      </a>
    </div>
  </ng-container>

  <span class="spacer"></span>

  <button *ngIf="breakpointObserver.handsetBreakpoint$ | async" type="button" aria-label="Toggle sidenav"
    mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <div *ngIf="!(breakpointObserver.handsetBreakpoint$ | async)" class="navitems-container">
    <a *ngFor="let n of navItems" mat-button (click)="routeTo(n.route)">
      {{ n.name }}
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(breakpointObserver.handsetBreakpoint$ | async) ? 'dialog' : 'navigation'"
    [mode]="(breakpointObserver.handsetBreakpoint$ | async) ? 'over' : 'side'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list *ngFor=" let n of navItems">

      <a mat-list-item (click)="drawer.close()" [routerLink]="[n.route]" routerLinkActive="list-item-active">
        {{ n.name }}
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>