@use '@angular/material' as mat;

.shadow {
  @include mat.elevation(4);
}

.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-toolbar.mat-primary{
  position: fixed;
  top: 0;
  z-index: 1000;
}

.small-spacer {
  padding: 8pt;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  padding-top: 56px;
}

.header-title {
  cursor: pointer;

  img {
    color: white;
  }
}

.logo {
  color: white;
}
