@use "../../../../assets/styles/mixins";
@import "../../../../../projects/shared-lib/src/lib/styles/variables";

:host {
  flex: 1;
  text-align: center;
}

.lock {
  opacity: 0.4;
  pointer-events: none;
}

#home {
  h1 {
    margin: 240px auto 0 auto;
    font-size: 110px;
    text-shadow: 0 0 5px $titleOutlineColor;
  }

  h2 {
    margin: 0 auto 0 auto;
    font-size: 25px;
  }

  img {
    width: 32px;
    margin-top: 150px;
    opacity: 0.7;
    @include mixins.transition;

    &:hover {
      opacity: 1;
    }
  }
}

#termine {
  padding-top: 4%;

  .termin-cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 40px;
  }
}

#skischule {
  h4 {
    font-size: 25px;
  }

  p {
    width: 600px;
    margin: 0 auto 0 auto;
  }
}

#ausfahrten {
  background-color: $primarySectionBgColor;

  h4 {
    font-size: 25px;
  }

  p {
    width: 600px;
    margin: 0 auto 0 auto;
  }
}

#gymnastik {
  h4 {
    font-size: 25px;
  }

  p {
    width: 600px;
    margin: 0 auto 0 auto;
  }
}

.fixed-image-bg {
  background-position: center center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.download {
  color: $donwloadLinkColorNews;

  &:hover {
    opacity: 0.8;
    @include mixins.transition;
  }
}

.download-link {
  margin: 0 auto 0 auto;
  background-color: $donwloadLinkColorBackground;
  width: 320px;
  height: 80px;
  opacity: 0.7;

  &:hover {
    opacity: 0.9;
    @include mixins.transition;
  }

  p {
    padding: 20px 10px 10px 10px;
    color: $textColor;
    font-size: 32px;
    text-shadow: 0 0 2px $titleOutlineColor;
  }
}
