@use "../assets/styles/mixins";
@import "../assets/styles/variables";


:host {
  flex: 1;
  text-align: center;
}

#news-modal {
  padding: 40px;
  margin: 90px 90px 90px 90px;
  background-color: #fff;
  height: 75%;
  width: 85%;
  z-index: 1000;
  position: fixed;
  box-shadow: 0 9px 20px rgba($color: #000000, $alpha: 0.2);
  border-radius: 20px;
}

#news-logo {
  margin: 10px 0 0 10px;
  float: left;
}

#news-logo img {
  align-content: center;
  width: 600px !important;
}

#news-text {
  margin: 45px 45px 0 0;
  padding-bottom: 180px;

  &p {
    margin-bottom: 20px;
  }
}

#news-text ul li {
  margin-top: 12px;
}

#news-close {
  float: right;
  margin: 0px 10px 0px 0px;

  div {
    font-family: Arial, sans-serif;
    font-size: 28px;
    cursor: pointer;
    color: $textColor;

    &:hover {
      color: $subtextColor;
      opacity: 0.8;
      @include mixins.transition;
    }
  }
}
