@import "../../../shared-lib/src/lib/styles/variables";

:host {
  overflow: auto;
  height: 100%;
}


.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 66px;
  min-height: calc(100% - 136px);

  &__page {
    padding: 8px;
    flex: 3;
  }

  &__news {
    flex: 3;
    border-left: 2px solid;
    border-color: $pageBgColor;
    overflow-y: auto;
    height: calc(100% - 136px);
  }
}
