<div id="content">
    <shared-lib-site-navigation [logo]="logoPath" [title]="title" [navItems]="navItems"></shared-lib-site-navigation>
</div>

<div id="footer">
    <shared-lib-site-footer [navItems]="footerNavItems" [color]="footerColor">
        <div center>
            <shared-lib-mail-button
                [color]="'accent'"
                [mailAdress]="contactMail"
                [tooltip]="contactMailTooltip"
            ></shared-lib-mail-button>

            <shared-lib-facebook-button
                [color]="'accent'"
                [buttonName]="'facebook'"
                [link]="'https://www.facebook.de'"
            ></shared-lib-facebook-button>
        </div>

        <div right>
            <div class="copyright">
                <shared-lib-comcy-copyright
                    [link]="'https://github.com/comcy/skiclub-kapfenburg.de'"
                ></shared-lib-comcy-copyright>
            </div>
        </div>
    </shared-lib-site-footer>
</div>
