:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
}

.navigation {
    // INTENTIONALLY LEFT EMPTY
}

.content {
    padding-top: 64px;
    flex: 1 1 auto;
}

.footer {
    bottom: 0;
}

.copyright {
    shared-lib-comcy-copyright {
        --copyright-container-text-color: yellow;
        --copyright-container-link-color: yellow;
    }
}

.logo {
    color: white;
    transform: scale(6);
    top: 0;
    left: 0; // padding: 32 32 32 32;
}
