<div id="navigation">
    <shared-lib-site-navigation [logo]="logoPath" [title]="title" [navItems]="navItems"></shared-lib-site-navigation>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>

<div id="footer">
    <shared-lib-site-footer [navItems]="footerNavItems" [color]="footerColor">
        <div center>
            <shared-lib-mail-button
                [color]="'accent'"
                [buttonName]="'mail'"
                [link]="contactMail"
                [tooltip]="contactMailTooltip"
            ></shared-lib-mail-button>

            <shared-lib-facebook-button
                [color]="'accent'"
                [buttonName]="'facebook'"
                [tooltip]="'Facebook öffnen'"
                [link]="'https://www.facebook.com/SkiclubKapfenburg/'"
            ></shared-lib-facebook-button>

            <shared-lib-instagram-button
                [color]="'accent'"
                [buttonName]="'instagram'"
                [tooltip]="'Instagram öffnen'"
                [link]="'https://www.instagram.com/skiclub_kapfenburg/'"
                [isSvgButton]="true"
            ></shared-lib-instagram-button>
            <shared-lib-sck-logo-icon></shared-lib-sck-logo-icon>
            <shared-lib-instagram-icon></shared-lib-instagram-icon>
        </div>

        <div right>
            <div class="copyright">
                <shared-lib-comcy-copyright
                    [link]="'https://github.com/comcy/skiclub-kapfenburg.de'"
                ></shared-lib-comcy-copyright>
            </div>
        </div>
    </shared-lib-site-footer>
</div>
