<app-dialog-shell [title]="title">
    <app-member-editor #editor [member]="data.member" (saved)="onSaved()"></app-member-editor>

    <ng-container dialogActions>
        @if (auth.hasPermission('members:manage')) {
            <button mat-raised-button color="primary" (click)="editor.onSave()" [disabled]="!editor.canSave">
                Speichern
            </button>
        }
        <button mat-button (click)="dialogRef.close(false)">Abbrechen</button>
    </ng-container>
</app-dialog-shell>
