<div class="tile-management-container" [class.editor-open]="isEditorOpen">
    <div class="tile-list-container">
        <app-tile-list (tileSelected)="onTileSelected($event)" [selectedTileId]="selectedTile?.id"> </app-tile-list>
    </div>

    <div class="tile-editor-container" *ngIf="isEditorOpen">
        <div class="editor-toolbar">
            <button mat-icon-button (click)="closeEditor()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <app-tile-editor [tile]="selectedTile" (tileSaved)="onTileSaved()"></app-tile-editor>
    </div>
</div>
