<mat-toolbar>{{title}}</mat-toolbar>

<div class="content-container">
  <div class="cards-grid">
    <ng-container *ngFor="let t of tiles">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="card-header-image"></div>
          <mat-card-title>{{t.title}}</mat-card-title>
          <mat-card-subtitle>{{t.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{t.image}}" alt="{{t.imageDescription}}" />
        <mat-card-content>
          <p>{{t.text}}</p>
        </mat-card-content>
        <mat-card-actions class="actions">
          <ng-container *ngFor="let action of t.actions" [ngSwitch]="action">
            <button *ngSwitchCase="tileActionsEnum.Register" mat-button (click)="openRegisterDialog(t)">{{ registerLabel
              }}
            </button>
            <button *ngSwitchCase="tileActionsEnum.Share" mat-button (click)="openShareDialog()">
              <mat-icon>share</mat-icon>
            </button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>