<mat-toolbar> Aktuelles </mat-toolbar>

<div class="content-container">
  <div class="grid">
    <ng-container *ngFor="let t of tiles">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{t.title}}</mat-card-title>
          <mat-card-subtitle>{{t.subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="{{t.image}}"
          alt="{{t.imageDescription}}"
        />
        <mat-card-content>
          <p>{{t.text}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>{{t.actionOne}}</button>
          <button mat-button>{{t.actionTwo}}</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
