@use "src/assets/styles/mixins";
@import "src/assets/styles/variables";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h2,
h3,
a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: $textColor;
    text-transform: uppercase;
}

h2 {
    color: $subtextColor;
}

h3 {
    font-size: 40px;
    padding-top: 8%;
    margin-bottom: 5px;
}

h4,
p {
    font-family: "Roboto", serif;
}

hr {
    width: 30px;
    height: 3px;
    background: $textColor;
    border: 0;
    margin: 0 auto 40px auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    min-height: 100%;
}

/**     HOME *****************************************/

// #home {
//     background: url("assets/img/header/1.jpeg");
//     background-position: center center;
//     background-size: cover;
//     background-attachment: fixed;
// }

// #home h1 {
//     margin: 240px auto 0 auto;
//     font-size: 110px;
// }

// #home h2 {
//     margin: 0 auto 0 auto;
//     font-size: 25px;
// }

// #home img {
//     width: 32px;
//     margin-top: 150px;
//     opacity: 0.7;
//     @include mixins.transition;

//     &:hover {
//         opacity: 1;
//     }
// }

// /**     SKISCHULE *****************************************/

// #skischule {
//     h4 {
//         font-size: 25px;
//     }
//     p {
//         width: 700px;
//         margin: 0 auto 0 auto;
//     }
// }

// // .blur {
// //     filter: blur(200px);
// //     -webkit-filter: blur(200px);
// //     -moz-filter: blur(200px);
// //     -o-filter: blur(200px);
// // }

// /**     SKISCHULE *****************************************/

// #ausfahrten {
//     background-color: $primarySectionBgColor;
//     h4 {
//         font-size: 25px;
//     }
//     p {
//         width: 700px;
//         margin: 0 auto 0 auto;
//     }
// }

// /**     SKISCHULE *****************************************/

// #gymnastik {
//     h4 {
//         font-size: 25px;
//     }
//     p {
//         width: 700px;
//         margin: 0 auto 0 auto;
//     }
// }

/**     SKISCHULE *****************************************/

// #impressum {
//     h4 {
//         font-size: 25px;
//     }
//     p {
//         width: 700px;
//         margin: 0 auto 0 auto;
//     }
// }

/**     SKISCHULE *****************************************/

// #datenschutz {
//     background-color: $primarySectionBgColor;
//     h4 {
//         font-size: 25px;
//     }
//     p {
//         width: 700px;
//         margin: 0 auto 0 auto;
//     }
// }
