/** Page color definitons **/

$textColor: #494949;
$subtextColor: #5d7177;

$headerBgColor: #fff;

$footerBgColor: #3f3f3f;

$primarySectionBgColor: #f0f0f0;
$footerTextColor: #f0f0f0;
// $secondarySectionBgColor: #f0f0f0;