:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    flex-shrink: 0;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    flex-shrink: 0;
    padding-left: 8px;
    padding-right: 8px;
    gap: 4px;
}

.table-container {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

// ...
.paginator-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid #e0e0e0;
    padding: 0px 0px 0px 0px;
    flex-shrink: 0;
}

/* Responsive Table Columns */
@media (max-width: 960px) {
    .col-hidden-tablet {
        display: none;
    }
}

@media (max-width: 600px) {
    .col-hidden-mobile {
        display: none;
    }
}
